nav.scrolled {
  -webkit-box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.3);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: height 200ms, -webkit-box-shadow 200ms;
  transition: height 200ms, -webkit-box-shadow 200ms;
  transition: box-shadow 200ms, height 200ms;
  transition: box-shadow 200ms, height 200ms, -webkit-box-shadow 200ms;
}

nav {
  z-index: 999;
  height: 10vh;
  background-color: #0019d6;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: black 1px solid;
  -webkit-transition: -webkit-box-shadow 200ms;
  transition: -webkit-box-shadow 200ms;
  transition: box-shadow 200ms;
  transition: box-shadow 200ms, -webkit-box-shadow 200ms;
}

nav a {
  color: #dbdbdb;
  position: relative;
  text-decoration: none;
  -webkit-transition: 200ms;
  transition: 200ms;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
}

nav li {
  position: relative;
}

nav a:hover {
  color: white;
}

nav a.active {
  color: white;
}

nav a.active::after {
  content: '';
  background-color: white;
  width: 100%;
  height: 5px;
  z-index: 999;
  opacity: 1;
  position: absolute;
  -webkit-transition: 200ms;
  transition: 200ms;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  left: 0;
  bottom: -5;
}

nav a::after {
  content: '';
  background-color: white;
  width: 0%;
  height: 5px;
  z-index: 999;
  opacity: 0;
  position: absolute;
  -webkit-transition: 200ms;
  transition: 200ms;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  left: 0;
  bottom: -5;
}

nav a:hover::after {
  width: 100%;
  opacity: 1;
}

nav .navTitle {
  padding-left: 10px;
}

nav .navItems {
  font-size: 20px;
}

nav .navItems a {
  margin: 0px 5px 0px 5px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.SearchBox {
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.SearchBox h1 {
  padding-right: 1vw;
  color: black;
}

.SearchBox #askedQuestions {
  height: 5vh;
  width: 39vw;
  font-size: 100%;
  border-radius: 5px;
  border: 1px solid #444;
  font-family: 'Lato', sans-serif;
  padding-left: 10px;
}

.SearchBox #askedQuestions:focus {
  outline: none;
  border: 1px solid #0019d6;
  padding-left: 10px;
}

.SearchBox .InputParent {
  z-index: 1;
  position: relative;
}

.SearchBox .InputParent span::after {
  position: absolute;
  content: 'Search for...';
  left: 10;
  bottom: 10;
  color: gray;
  opacity: 0.5;
  pointer-events: none;
  -webkit-transition: font-size 200ms, -webkit-transform 200ms;
  transition: font-size 200ms, -webkit-transform 200ms;
  transition: transform 200ms, font-size 200ms;
  transition: transform 200ms, font-size 200ms, -webkit-transform 200ms;
}

.SearchBox .InputParent #askedQuestions:focus + span::after {
  -webkit-transform: translatey(-30px) translateX(-10px);
          transform: translatey(-30px) translateX(-10px);
  font-size: 13px;
  color: #0019d6;
}

.SearchBox .InputParent input:not(:placeholder-shown) + span::after {
  color: #0019d6;
  font-size: 13px;
  -webkit-transform: translatey(-30px) translateX(-10px);
          transform: translatey(-30px) translateX(-10px);
}

.SearchBox .InputParent input:not(:placeholder-shown) {
  border: 1px solid #0019d6;
  font-size: 13px;
}

datalist {
  width: 20vw;
}

.parentFAQ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ParentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.FaqContainer:hover h2 {
  -webkit-text-decoration: underline #0019d6 2px;
          text-decoration: underline #0019d6 2px;
}

.FaqContainer {
  border-radius: 10px;
  border: 2px solid black;
  margin-bottom: 2vh;
  width: 50%;
  padding: 10px;
}

.FaqContainer .Question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2vh;
}

.FaqContainer .Answer {
  display: none;
}

.FaqContainer .Answer.opened {
  display: block;
}

.plusSVG {
  height: 25px;
  width: 25px;
  -webkit-transition: 200ms;
  transition: 200ms;
  background-color: none;
}

.plusSVG.turn {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

body {
  height: 200vh;
}

*::-moz-selection {
  background: #0019d6;
  /* WebKit/Blink Browsers */
  color: white;
}

*::selection {
  background: #0019d6;
  /* WebKit/Blink Browsers */
  color: white;
}

::-moz-selection {
  background: #0019d6;
  /* Gecko Browsers */
  color: white;
}

.SearchBoxForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.searchBoxButton {
  margin-left: 10px;
  background-color: transparent;
  width: 150px;
  border: 2px solid #0019d6;
  border-radius: 5px;
  -webkit-transition: 200ms;
  transition: 200ms;
  cursor: pointer;
}

.searchBoxButton:hover {
  background-color: #0019d6;
  color: white;
}

button {
  background-color: transparent;
  width: 150px;
  height: 50px;
  border: 2px solid #0019d6;
  border-radius: 5px;
  -webkit-transition: 200ms;
  transition: 200ms;
  cursor: pointer;
}

button:hover {
  background-color: #0019d6;
  color: white;
}

.showResults {
  width: 50%;
  padding-bottom: 5px;
}

.paddingTop {
  padding-top: 10vh;
}

.formBox {
  border: 2px solid #0019d6;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5vh 0vh 5vh 0vh;
  width: 30vw;
}

.formBox input {
  margin: 20px 0px 10px 0px;
  outline: none;
  padding-left: 10px;
  border: 1px solid #444;
  height: 30px;
}

input:focus {
  outline: none;
  padding-left: 10px;
}

.relative {
  position: relative;
}

#firstname:focus + span::after {
  -webkit-transform: translatey(-20px) translateX(-5px);
          transform: translatey(-20px) translateX(-5px);
  font-size: 13px;
  color: #0019d6;
}

#firstnameAfter::after {
  position: absolute;
  content: 'Firstname...';
  top: 22;
  left: 8;
  color: gray;
  opacity: 0.5;
  pointer-events: none;
  -webkit-transition: font-size 200ms, -webkit-transform 200ms;
  transition: font-size 200ms, -webkit-transform 200ms;
  transition: transform 200ms, font-size 200ms;
  transition: transform 200ms, font-size 200ms, -webkit-transform 200ms;
}

#lastname:focus + span::after {
  -webkit-transform: translatey(-20px) translateX(-5px);
          transform: translatey(-20px) translateX(-5px);
  font-size: 13px;
  color: #0019d6;
}

#lastnameAfter::after {
  position: absolute;
  content: 'Lastname...';
  top: 22;
  left: 8;
  color: gray;
  opacity: 0.5;
  pointer-events: none;
  -webkit-transition: font-size 200ms, -webkit-transform 200ms;
  transition: font-size 200ms, -webkit-transform 200ms;
  transition: transform 200ms, font-size 200ms;
  transition: transform 200ms, font-size 200ms, -webkit-transform 200ms;
}

#email:focus + span::after {
  -webkit-transform: translatey(-20px) translateX(-5px);
          transform: translatey(-20px) translateX(-5px);
  font-size: 13px;
  color: #0019d6;
}

#emailAfter::after {
  position: absolute;
  content: 'Email...';
  top: 22;
  left: 8;
  color: gray;
  opacity: 0.5;
  pointer-events: none;
  -webkit-transition: font-size 200ms, -webkit-transform 200ms;
  transition: font-size 200ms, -webkit-transform 200ms;
  transition: transform 200ms, font-size 200ms;
  transition: transform 200ms, font-size 200ms, -webkit-transform 200ms;
}

input:not(:placeholder-shown) + span::after {
  color: #0019d6;
  font-size: 13px;
  -webkit-transform: translatey(-20px) translateX(-5px);
          transform: translatey(-20px) translateX(-5px);
}

input:valid {
  border: 1px solid #0019d6;
}

.highlight {
  -webkit-text-decoration: underline 1px solid #0019d6;
          text-decoration: underline 1px solid #0019d6;
  color: #0019d6;
}

#username:focus + span::after {
  -webkit-transform: translatey(-20px) translateX(-5px);
          transform: translatey(-20px) translateX(-5px);
  font-size: 13px;
  color: #0019d6;
}

#usernameAfter::after {
  position: absolute;
  content: 'Username...';
  top: 22;
  left: 8;
  color: gray;
  opacity: 0.5;
  pointer-events: none;
  -webkit-transition: font-size 200ms, -webkit-transform 200ms;
  transition: font-size 200ms, -webkit-transform 200ms;
  transition: transform 200ms, font-size 200ms;
  transition: transform 200ms, font-size 200ms, -webkit-transform 200ms;
}

#password:focus + span::after {
  -webkit-transform: translatey(-20px) translateX(-5px);
          transform: translatey(-20px) translateX(-5px);
  font-size: 13px;
  color: #0019d6;
}

#passwordAfter::after {
  position: absolute;
  content: 'Password...';
  top: 22;
  left: 8;
  color: gray;
  opacity: 0.5;
  pointer-events: none;
  -webkit-transition: font-size 200ms, -webkit-transform 200ms;
  transition: font-size 200ms, -webkit-transform 200ms;
  transition: transform 200ms, font-size 200ms;
  transition: transform 200ms, font-size 200ms, -webkit-transform 200ms;
}
/*# sourceMappingURL=main.css.map */