nav.scrolled {
  -webkit-box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 35px 5px rgba(0, 0, 0, 0.3);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: height 200ms, -webkit-box-shadow 200ms;
  transition: height 200ms, -webkit-box-shadow 200ms;
  transition: box-shadow 200ms, height 200ms;
  transition: box-shadow 200ms, height 200ms, -webkit-box-shadow 200ms;
}

nav {
  z-index: 999;
  height: 10vh;
  background-color: #0019d6;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: black 1px solid;
  -webkit-transition: -webkit-box-shadow 200ms;
  transition: -webkit-box-shadow 200ms;
  transition: box-shadow 200ms;
  transition: box-shadow 200ms, -webkit-box-shadow 200ms;
}

nav a {
  color: #dbdbdb;
  position: relative;
  text-decoration: none;
  -webkit-transition: 200ms;
  transition: 200ms;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
}

nav li {
  position: relative;
}

nav a:hover {
  color: white;
}

nav a.active {
  color: white;
}

nav a.active::after {
  content: '';
  background-color: white;
  width: 100%;
  height: 5px;
  z-index: 999;
  opacity: 1;
  position: absolute;
  -webkit-transition: 200ms;
  transition: 200ms;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  left: 0;
  bottom: -5;
}

nav a::after {
  content: '';
  background-color: white;
  width: 0%;
  height: 5px;
  z-index: 999;
  opacity: 0;
  position: absolute;
  -webkit-transition: 200ms;
  transition: 200ms;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  left: 0;
  bottom: -5;
}

nav a:hover::after {
  width: 100%;
  opacity: 1;
}

nav .navTitle {
  padding-left: 10px;
}

nav .navItems {
  font-size: 20px;
}

nav .navItems a {
  margin: 0px 5px 0px 5px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

h1 {
  padding-right: 1vw;
  color: black;
}

#askedQuestions {
  height: 50px;
  width: 39vw;
  font-size: 100%;
  border-radius: 5px;
  border: 1px solid #444;
  font-family: 'Lato', sans-serif;
  padding-left: 10px;
}

#askedQuestions:focus {
  outline: none;
  border: 1px solid #0019d6;
  padding-left: 10px;
}

.InputParent {
  z-index: 1;
  position: relative;
  width: 60%;
}

.InputParent span::after {
  position: absolute;
  content: 'Search for...';
  left: 10;
  top: 15;
  color: gray;
  opacity: 0.5;
  pointer-events: none;
  -webkit-transition: font-size 200ms, -webkit-transform 200ms;
  transition: font-size 200ms, -webkit-transform 200ms;
  transition: transform 200ms, font-size 200ms;
  transition: transform 200ms, font-size 200ms, -webkit-transform 200ms;
}

.InputParent #askedQuestions:focus + span::after {
  -webkit-transform: translatey(-30px) translateX(-10px);
          transform: translatey(-30px) translateX(-10px);
  font-size: 13px;
  color: #0019d6;
}

.InputParent input:not(:placeholder-shown) + span::after {
  color: #0019d6;
  font-size: 13px;
  -webkit-transform: translatey(-30px) translateX(-10px);
          transform: translatey(-30px) translateX(-10px);
}

.InputParent input:not(:placeholder-shown) {
  border: 1px solid #0019d6;
  font-size: 13px;
}

datalist {
  width: 20vw;
}

.parentFAQ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ParentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.FaqContainer:hover {
  cursor: pointer;
}

.FaqContainer {
  border-radius: 10px;
  border: 2px solid black;
  margin-bottom: 2vh;
  width: 60%;
  padding: 10px;
}

.FaqContainer a {
  color: black;
  text-decoration: none;
}

.FaqContainer .Question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2vh;
}

.FaqContainer .Answer {
  display: none;
}

.FaqContainer .Answer.opened {
  display: block;
}

.plusSVG {
  height: 25px;
  width: 25px;
  -webkit-transition: 200ms;
  transition: 200ms;
  background-color: none;
}

.plusSVG.turn {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

body {
  height: 200vh;
}

*::-moz-selection {
  background: #0019d6;
  /* WebKit/Blink Browsers */
  color: white;
}

*::selection {
  background: #0019d6;
  /* WebKit/Blink Browsers */
  color: white;
}

::-moz-selection {
  background: #0019d6;
  /* Gecko Browsers */
  color: white;
}

.SearchBoxForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.searchBoxButton {
  margin-left: 10px;
  background-color: transparent;
  border: 2px solid #0019d6;
  border-radius: 5px;
  -webkit-transition: 200ms;
  transition: 200ms;
  cursor: pointer;
}

.searchBoxButton:hover {
  background-color: #0019d6;
  color: white;
}

button {
  background-color: transparent;
  width: 150px;
  height: 50px;
  border: 2px solid #0019d6;
  border-radius: 5px;
  -webkit-transition: 200ms;
  transition: 200ms;
  cursor: pointer;
}

button:hover {
  background-color: #0019d6;
  color: white;
}

.showResults {
  width: 60%;
  padding-bottom: 5px;
  text-align: left;
}

.paddingTop {
  padding-top: 10vh;
}

.formBox {
  border: 2px solid #0019d6;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5vh 0vh 5vh 0vh;
  width: 30vw;
}

.formBox input {
  margin: 20px 0px 10px 0px;
  outline: none;
  padding-left: 10px;
  border: 1px solid #444;
  height: 30px;
}

input:focus {
  outline: none;
  padding-left: 10px;
}

.relative {
  position: relative;
}

#firstname:focus + span::after {
  -webkit-transform: translatey(-20px) translateX(-5px);
          transform: translatey(-20px) translateX(-5px);
  font-size: 13px;
  color: #0019d6;
}

#firstnameAfter::after {
  position: absolute;
  content: 'Firstname...';
  top: 22;
  left: 8;
  color: gray;
  opacity: 0.5;
  pointer-events: none;
  -webkit-transition: font-size 200ms, -webkit-transform 200ms;
  transition: font-size 200ms, -webkit-transform 200ms;
  transition: transform 200ms, font-size 200ms;
  transition: transform 200ms, font-size 200ms, -webkit-transform 200ms;
}

#lastname:focus + span::after {
  -webkit-transform: translatey(-20px) translateX(-5px);
          transform: translatey(-20px) translateX(-5px);
  font-size: 13px;
  color: #0019d6;
}

#lastnameAfter::after {
  position: absolute;
  content: 'Lastname...';
  top: 22;
  left: 8;
  color: gray;
  opacity: 0.5;
  pointer-events: none;
  -webkit-transition: font-size 200ms, -webkit-transform 200ms;
  transition: font-size 200ms, -webkit-transform 200ms;
  transition: transform 200ms, font-size 200ms;
  transition: transform 200ms, font-size 200ms, -webkit-transform 200ms;
}

#email:focus + span::after {
  -webkit-transform: translatey(-20px) translateX(-5px);
          transform: translatey(-20px) translateX(-5px);
  font-size: 13px;
  color: #0019d6;
}

#emailAfter::after {
  position: absolute;
  content: 'Email...';
  top: 22;
  left: 8;
  color: gray;
  opacity: 0.5;
  pointer-events: none;
  -webkit-transition: font-size 200ms, -webkit-transform 200ms;
  transition: font-size 200ms, -webkit-transform 200ms;
  transition: transform 200ms, font-size 200ms;
  transition: transform 200ms, font-size 200ms, -webkit-transform 200ms;
}

input:not(:placeholder-shown) + span::after {
  color: #0019d6;
  font-size: 13px;
  -webkit-transform: translatey(-20px) translateX(-5px);
          transform: translatey(-20px) translateX(-5px);
}

input:valid {
  border: 1px solid #0019d6;
}

.highlight {
  -webkit-text-decoration: underline 1px solid #0019d6;
          text-decoration: underline 1px solid #0019d6;
  color: #0019d6;
}

#username:focus + span::after {
  -webkit-transform: translatey(-20px) translateX(-5px);
          transform: translatey(-20px) translateX(-5px);
  font-size: 13px;
  color: #0019d6;
}

#usernameAfter::after {
  position: absolute;
  content: 'Username...';
  top: 22;
  left: 8;
  color: gray;
  opacity: 0.5;
  pointer-events: none;
  -webkit-transition: font-size 200ms, -webkit-transform 200ms;
  transition: font-size 200ms, -webkit-transform 200ms;
  transition: transform 200ms, font-size 200ms;
  transition: transform 200ms, font-size 200ms, -webkit-transform 200ms;
}

#password:focus + span::after {
  -webkit-transform: translatey(-20px) translateX(-5px);
          transform: translatey(-20px) translateX(-5px);
  font-size: 13px;
  color: #0019d6;
}

#passwordAfter::after {
  position: absolute;
  content: 'Password...';
  top: 22;
  left: 8;
  color: gray;
  opacity: 0.5;
  pointer-events: none;
  -webkit-transition: font-size 200ms, -webkit-transform 200ms;
  transition: font-size 200ms, -webkit-transform 200ms;
  transition: transform 200ms, font-size 200ms;
  transition: transform 200ms, font-size 200ms, -webkit-transform 200ms;
}

.tableContainer {
  border: 2px solid #0019d6;
  width: 90%;
  height: 50vh;
  text-align: center;
  overflow: scroll;
}

.marginTop {
  margin-top: 10vh;
}

td {
  padding: 8px;
  text-align: left;
}

table {
  width: 100%;
}

tr {
  outline: 2px solid #0019d6;
  color: #0019d6;
  text-align: left;
}

tr button {
  width: 49%;
}

.approve:hover {
  background-color: green;
  color: white;
}

.deny:hover {
  background-color: red;
  color: white;
}

.questionDetails {
  width: 80%;
}

.tag {
  background-color: #0019d6;
  color: white;
  border-radius: 15px;
  padding: 2px;
  margin: 3px 0px 3px 0px;
  white-space: nowrap;
  width: auto;
  cursor: pointer;
}

.tag:hover {
  background-color: #0a27ff;
}

.postDetails {
  text-align: right;
  width: 20%;
}

.arrow {
  height: 25px;
  width: 25px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
  -webkit-transition: 100ms -webkit-transform;
  transition: 100ms -webkit-transform;
  transition: 100ms transform;
  transition: 100ms transform, 100ms -webkit-transform;
}

.arrow.opened {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.filters {
  height: 0px;
  opacity: 0;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.filters.opened {
  padding-bottom: 20px;
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */